mixin time-nav()
	+b.time-nav&attributes(attributes)
		+e.item
			+e.A.link(href=jv0) Понедельник
		+e.item
			+e.A.link(href=jv0) Вторник
		+e.item
			+e.A.link(href=jv0) Среда
		+e.item
			+e.A.link(href=jv0) Четверг
		+e.item
			+e.A.link--active(href=jv0) Пятница
		+e.item
			+e.A.link(href=jv0) Суббота
		+e.item
			+e.A.link(href=jv0) Воскресенье